.container {
  padding-inline: calc((100vw - 1200px) / 2);
  background-color: #fff;
  box-shadow: 0 0 10px #00000025;

  .logo {
    color: #4a5fc1;
    font-size: 30px;
    font-weight: bold;
  }
}
